body{

margin:0;

background:#111;

color:white;

font-family:
"Microsoft YaHei",
sans-serif;

}


.container{

display:flex;

width:90%;

margin:auto;

}



.left{

width:40%;

padding:20px;

}



.right{

width:60%;

padding:20px;

}



.images img{

width:30%;

margin:5px;

border-radius:10px;

}



.product-cover{

width:200px;

border-radius:15px;

}



a{

color:#8fdcff;

text-decoration:none;

}



a:hover{

color:white;

}



.music-box{

position:fixed;

bottom:20px;

left:20px;

background:#222;

padding:10px;

border-radius:10px;

}


button{

margin-left:5px;

}